.study-page{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.study-page-right-side{
    display: flex;
    flex-direction: column;
}

.custom-study-icon-container{
    min-height: 200px;
    min-width: 400px;
    border: 1px rgb(219, 216, 216) solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.statistics{
    min-height: 200px;
    min-width: 400px;
    border: 1px rgb(219, 216, 216) solid;
    border-radius: 10px;
}