.exercise-page{
    display: flex;
    align-items: center;
}
.exercise-footer {
    bottom: 0;
    border-top: 2px solid rgb(235, 231, 231);
    min-height: 110px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.exercise-footer > div{
    margin-top: 15px;
}

@media only screen and (max-width: 900px) {
    .exercise-footer{
        flex-direction: column;
        align-items: center;
    }
}