.icon {
    width: 95px;
    margin: 35px;
    margin-bottom: 40px;
    max-height: 110px;
    text-align: center;
}


.icon-label {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    top: -70px;
}

.icon-row-container {
    display: flex;
    justify-content: space-around;
}