.exercise-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-table{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.finish-button{
    margin: 10px;
    margin-bottom: 20px;
}